# A/B Statistical Analysis

### In this analysis, I was presented with various ads to test against a site's current ad. I wanted to see which ad had the greatest amount of purchase conversions which would then indicate the more effective ad to use on the website. Based off of user feedback the site was getting while using the current ad, I decided to use an A/B test in order to test against the ad model I hypothesized to have a better outcome.

* The ad with the best outcome was Ad C with approximately 700 more click conversions
* The current Ad was significantly lower in conversions for a number of qualitative reasons such as: misleading information, not enough time to complete the lessons, and unaware of product features.

###### For confidentiality, the ads from the site are not to be presented for this public notebook as they were used for A/B testing within the company.

In [1]:
#import all necessary libraries
import numpy as np
import pandas as pd
import scipy as sp
#statistics
from scipy import stats
#statistical data visualization
import seaborn as sns
#import sql database
import sqlite3
#make visualizations 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#set a connection to upload database from sqlite
database = "codecademy_sqlite_adc.db"
connection = sqlite3.connect(database)

In [3]:
#use sql query to pull in tables needed from database
df = pd.read_sql_query("""
SELECT *
FROM CurrentAd
UNION
SELECT *
FROM GroupC
""", connection)

In [4]:
#view the dataframe from the connection made above
df.head()

,index,uuid,num_achievements,num_exercises,num_points,Click,Group,Button,Banner
0,0,981943945,0,0,0,1.0,CurrentAd,No,Yes
1,2,981944745,0,0,0,0.0,CurrentAd,No,Yes
2,3,981944801,0,0,0,0.0,CurrentAd,No,Yes
3,4,981944857,0,0,0,0.0,CurrentAd,No,Yes
4,6,981960025,0,0,0,0.0,CurrentAd,No,Yes

In [5]:
#check data types and change if needed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26214 entries, 0 to 26213
Data columns (total 9 columns):
index               26214 non-null int64
uuid                26214 non-null int64
num_achievements    26214 non-null int64
num_exercises       26214 non-null int64
num_points          26214 non-null int64
Click               26214 non-null float64
Group               26214 non-null object
Button              26214 non-null object
Banner              26214 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 1.8+ MB

In [6]:
#reassign data types for better data manipulation later on
df['Group'] = df['Group'].astype('category')
df['Button'] = df['Button'].astype('category')
df['Banner'] = df['Banner'].astype('category')

In [7]:
#check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26214 entries, 0 to 26213
Data columns (total 9 columns):
index               26214 non-null int64
uuid                26214 non-null int64
num_achievements    26214 non-null int64
num_exercises       26214 non-null int64
num_points          26214 non-null int64
Click               26214 non-null float64
Group               26214 non-null category
Button              26214 non-null category
Banner              26214 non-null category
dtypes: category(3), float64(1), int64(5)
memory usage: 1.3 MB

In [8]:
#check for null values
df.isnull().sum()

index               0
uuid                0
num_achievements    0
num_exercises       0
num_points          0
Click               0
Group               0
Button              0
Banner              0
dtype: int64

In [9]:
#look to see if there are any outliers in the data
df.describe()

,index,uuid,num_achievements,num_exercises,num_points,Click
count,26214.000000,2.621400e+04,26214.000000,26214.000000,26214.000000,26214.000000
mean,41903.245098,1.039720e+09,4.306210,25.207065,25.207065,0.056687
std,44251.550951,6.743032e+07,9.382253,59.754837,59.754837,0.231248
min,0.000000,9.616265e+08,0.000000,0.000000,0.000000,0.000000
25%,9524.750000,9.820949e+08,0.000000,0.000000,0.000000,0.000000
50%,19040.000000,9.845606e+08,0.000000,0.000000,0.000000,0.000000
75%,77626.500000,1.099313e+09,4.000000,17.000000,17.000000,0.000000
max,148303.000000,1.118686e+09,95.000000,673.000000,673.000000,1.000000

In [10]:
#change the sample size so that each ad sample is equal to one another. This gives more accuracy to the test
df.sample(12000, replace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26214 entries, 0 to 26213
Data columns (total 9 columns):
index               26214 non-null int64
uuid                26214 non-null int64
num_achievements    26214 non-null int64
num_exercises       26214 non-null int64
num_points          26214 non-null int64
Click               26214 non-null float64
Group               26214 non-null category
Button              26214 non-null category
Banner              26214 non-null category
dtypes: category(3), float64(1), int64(5)
memory usage: 1.3 MB

In [11]:
#clicks over impressions = CTR (click through rate)
group_c_clicks = ≥
current_ad_clicks = (current_ad['Click'].sum()) / (current_ad['Click'].count())
print group_c_clicks
print current_ad_clicks

SyntaxError: invalid syntax (<ipython-input-11-28a01a51f2b8>, line 2)

In [ ]:
#visualize clicks for each ad
Clicks = df[df['Click'] == 1].head(12000)
sns.countplot(x=Clicks['Group'], data = df)
sns.set_style("darkgrid", {"axes.facecolor": ".9",'text.color': 'w'})
plt.legend()
plt.xlabel('Ad')
plt.ylabel('Count of Clicks')
plt.title("Count of Clicks by Ad")

In [ ]:
#subset the two groups in order to run the ttest
group_c = df[df['Group'] == 'C'].head(12000)
current_ad = df[df['Group'] == 'CurrentAd'].head(12000)
alpha = .05
sp.stats.ttest_ind(group_c['Click'], current_ad['Click'])